<div class="col-lg-11 nav-tabs-container">
    <ul class="nav nav-tabs nav-tabs-sun">
        <li class="active"><a href="#dispatch_match_order_detail" data-toggle="tab">订单详情</a></li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="dispatch_match_order_detail">
            <label style="margin: 14px 0px;width: 100%;">订单状态:待调度</label>
            <span style="display: block">货主信息</span>
            <div style="float: left;margin-top: 10px;width: 100%;border: 1px solid  #E8EEF4;padding: 25px 0;">
                <div class="col-md-2">
                    <img src="images/logo_detail.png" style="margin: 20px 30px;width: 120px;">
                </div>
                <div class="col-md-10">
                    <div class="col-md-4">
                        <span class="span_label">{{detail.cust_corp_name}}</span>
                        <span class="span_label"><div id="carrier_raty"></div></span>
                        <span class="span_label">入驻{{detail.time}}年</span>
                    </div>
                    <div class="col-md-8" style="margin-top: 25px">
                        <img src="images/phone.png"><span>{{detail.phone}}</span>
                    </div>
                </div>
            </div>
            <span style="line-height: 50px">订单信息</span>
            <div style="float: left;margin-top: 10px;width: 100%;border: 1px solid  #E8EEF4;padding: 25px 0;">
                <div class="row">
                    <div style="width:40%;float: left"><span class="span_div">提货方：</span>{{detail.deli_addr}},{{detail.deli_phone}},{{detail.deli_addr_name}}
                    </div>
                    <div style="width:25%;float: left"><span class="span_div">提货时间：</span>{{detail.req_deli_date}}</div>
                    <div style="width:35%;float: left"><span class="span_div">提货地址：</span>{{detail.deli_addr}}</div>
                </div>
                <div class="row">
                    <div style="width:40%;float: left"><span class="span_div">收货方：</span>{{detail.arri_name}},{{detail.arri_phone}},{{detail.arri_addr_name}}
                    </div>
                    <div style="width:25%;float: left"><span class="span_div">收货时间：</span>{{detail.req_arri_date}}</div>
                    <div style="width:35%;float: left"><span class="span_div">收货地址：</span>{{detail.arri_addr}}</div>
                </div>
                <div style="width: 94%;border: 0.5px solid #E8EEF4;margin:1% 3%"></div>
                <div class="row span_div_type">
                    <div style="float: left;width: 25%"><span class="span_div">货物类型：</span>{{detail.goods_type}}</div>
                    <div style="float: left;width: 25%"><span class="span_div">运输类型：</span>{{detail.pk_trans_type}}
                    </div>
                    <div style="float: left;width: 50%"><span class="span_div">件重体：</span>{{detail.num_count*1}}件/{{detail.weight_count*1}}吨/{{detail.volume_count*1}}立方
                    </div>
                </div>
                <div class="row span_div_type">
                    <div style="float: left;width: 25%"><span class="span_div">保险：</span><span v-if="detail.insurance">{{detail.insurance}}</span>
                        <span v-else>无</span></div>
                    <div style="float: left;width: 25%"><span class="span_div">价格：</span><span v-if="detail.est_amount">{{detail.est_amount}}</span>
                        <span v-else>无</span></div>
                    <div style="float: left;width: 50%"><span class="span_div">付款方：</span><span v-if="detail.bala_customer">{{detail.bala_customer}}</span>
                        <span v-else>无</span></div>
                </div>
                <div class="row span_div_type">
                    <div style="float: left;width: 25%"><span class="span_div">订单编号：</span>{{detail.invoice_vbillno}}
                    </div>
                    <div style="float: left;width: 25%"><span class="span_div">下单时间：</span>{{detail.create_time}}</div>
                </div>
                <div class="row span_div_type">
                    <div style="float: left;width: 25%"><span class="span_div">结算方式: </span><span v-if="detail.balatype">{{detail.balatype}}</span>
                        <span v-else>无</span></div>
                </div>
                <div style="width: 94%;border: 0.5px solid #E8EEF4;margin:1% 3%"></div>
                <div class="row span_div_type">
                    <div style="float: left;width: 25%"><span class="span_div">付款时间：</span><span v-if="detail.pay_time">{{detail.pay_time}}</span>
                        <span v-else>未支付</span></div>
                    <div style="float: left;width: 25%"><span class="span_div">调度时间：</span><span v-if="detail.send_car_time">{{detail.send_car_time}}</span>
                        <span v-else>未调度</span></div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info" style="margin-top: 20px">派车</button>
    </div>
</div>
<div class="col-lg-1"><a href="#" class="btn btn-default dispatch_match_back">
    <i class="fa fa-chevron-left fa-x"></i></a>
</div>