/* 地图上表格展示 */
#div_table{
    position: absolute;
    top: 50px;
    left: 10px;
}

/* 电子看板 */
#ekan_div{
    margin-top: 4rem;
    margin-left: 1%;
}

#ekan_top_div{

}

.ekan_contain {
    width: 23.5%;
    float: left;
    border: 1px solid black;
    margin-right:1%;
    border-radius: 5px;
    height: 8rem;
}

.ekan_span {
    height: 6rem;
    width: 6rem;
    display: inline-block;
    border-radius: 50%;
    margin: 2% 5%;
}

.ekan_text{
    display: inline-grid;
    margin: 5%;
}

.ekan_text p{
    line-height: 2rem;
}

.number_p{
    font-size: 1.5rem;
}

.span_icon{
    position: relative;
    display: block;
    color: white;
    text-align: center;
    top: 2rem;
    font-size: 1.5rem;
}

/*电子看板 图表 */
#charts_contain_div{
    width: 100%;
}


#left_chart{
    float: left;
    width: 63%;
}

#right_chart{
    float: right;
    width: 32%;
    height: 38rem;
    margin-right: 2.5%;
    border: 1px solid black;
    margin-top:2rem;
}

.chart_div{
    height: 18rem;
    border: 1px solid black;
    margin-top:2rem;
}