/*公共样式*/
html, body, h4, h5, h6, ul, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #eaeff0;
}
.baqy {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #eaeff0;
}
p {
    color: #eaeff0;
}

html, body {
    max-width: 1920px;
    min-width: 1260px;
    min-height: 600px;
}

a, input {
    text-decoration: none;
    outline: 0;
    font-size: 16px;
}

i {
    font-style: normal;
    font-size: 14px;
    color: #eaeff0;
}

.blue {
    background-color: #0f97db;
}

.ztjd {
    font-size: 22px;

}

.orge {
    color: #e66526;
}

/*加粗*/
.ztjc {
    font-weight: 700;
}
.zkt .coral-grid-columns .coral-state-default{
    overflow-y: hidden;
}
.ztdx {
    font-size: 18px;
}

/*登录页*/
html, body {
    width: 100%;
    height: 100%;
}

.dl {
    width: 100%;
    height: 100%;
    /*padding-top: 80px;*/
    box-sizing: border-box;
}

.dlapp {
}

/*登录头*/
.dl .dlt {
    height: 80px;
    /*background: url(../images/dlbj1.png);*/
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.dl .dlt h4 {
    /*margin-left: 225px;*/
    margin-top: 0;
    margin-bottom: 0;
    line-height:80px;
    font-size: 18px;
    color: #f2f4f4;
}
.dl .dlt h4 img{
    height: 85%;
    float: left;
    margin: 0.5% 1%;
}
/*登录主体*/
.dl .dlbody {
    width: 100%;
    height: 100%;
    background: url(../images/login-bg.png);
    background-size: 100%  100%;
    overflow: hidden;
    position: relative;
}
/*.dlbody:after{
    content:"";
    width: 100%;
    height:30%;
    display: block;
    background: url(../images/login-b.png) no-repeat #f3f9ff;
    background-size:auto 100% ;
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 1;
    border-top: 1px solid #cddce8;
    box-shadow:1px 5px 10px 1px rgba(0,0,0,.5);
}*/
/*登录主体app*/
.dlapp .dlbodyapp {
    width: 100%;
    height: 100%;
    position: relative;
}

/*右侧*/
.dlapp .dlbodyapp .dlyapp {
    padding: 210px 30px 220px 30px;
    width: 364px;
    background-color: #ebf1f6;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: #91adbf 10px 10px 10px;
    border-bottom: 4px solid #afcedd;
    border-right: 4px solid #bed6e3;
    position: absolute;
    right: 600px;
    top: 5px;
    bottom: 5px;
    box-sizing: border-box;
}
.dlapp .dlbodyapp .po-app{
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
}
.po-app>div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
}
.po-app h5{
    margin: 0;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.po-app span{
    display: block;
    width: 500px;
    height: 80px;
    font-size: 40px;
    margin-top: 20px;
}
.po-app input{
    width: 500px;
    height: 80px;
    font-size: 40px;
}
.po-app>div>input{
    margin-top: 20px;
}
/*右侧*/
.dl .dlbody .dly {
    padding: 60px;
    width: 490px;
    height: 400px;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: #91adbf 10px 10px 10px;
    border-bottom: 4px solid #afcedd;
    border-right: 4px solid #bed6e3;
    position: absolute;
    right: 82px;
    top:0;
    bottom:80px;
    margin:auto;
    box-sizing: border-box;
    z-index: 2;
}

.dl .dly h5 {
    font-size: 24px;
    color: #063950;
    text-align: center;
}

.dl .dly input {
    display: block;
}

.dl .dly input[type=button] {
    background-color: #06bc47;
    color: #def3e2;
    border: 0;
    padding: 10px 120px;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 38px;
}

.dly .coral-textbox:nth-child(2) {
    height: 37px;
    margin: 35px 0px 17px 0px;
    width: 100%;
    border: 1px solid #7a807e;
    border-radius: 6px;
}

.dly .coral-textbox:nth-child(3) {
    height: 37px;
    width: 100%;
    border: 1px solid #7a807e;
    border-radius: 6px;
}

.dly .coral-textbox > span {
    height: 37px;
}

.dly .coral-textbox input {
    height: 37px;
    padding-left: 40px;
}

.dly i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    background-color: #095f80;
    color: #f4f8fa;
    border-radius: 50%;
}

.dly i:nth-child(5) {
    left: 40px;
    top: 298px;
}

.dly i:nth-child(6) {
    left: 40px;
    top: 352px;
}

/*冷链主控台*/
.zkt {
    width: 100%;
    height: 100%;
    background-color: #387984;
}

/*主控台头部*/
.zkt .zkttb {
    height: 58px;
    width: 100%;
    background: url(../images/zktt.png);
    background-size: 100% 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 999;
}

.zkt .zkttb h4 {
    margin-left: 230px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 58px;
    font-size: 18px;
    color: #f2f4f4;
    display: inline-block;
}

/*右侧图标*/
.zkt .zkttb span {
    float: right;
    color: #ffffff;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    margin-right: 40px;
}

.zkttb span i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.main{
    position: absolute;
    top: 56px;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: url(../images/ztbj.png)  no-repeat center;
    background-size: cover;
}


/*主控台主体*/
.zkt .zktBody {
    position: absolute;
    left: 160px;
    right: 0;
    top: 4px;
    bottom: 16px;
    width: auto;
    height: 100%;
    overflow-y: auto;
}

.zktBody .jsc {
    height: 32px;
    margin-left: 30px;
    line-height: 32px;
}

.zktBody .jsc > h5 {
    font-size: 18px;
    color: #eaeff0;
    float: left;
    margin: 0;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.zktBody .jsc > h5 span {
    width: 2px;
    height: 18px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 6px;
}

.zktBody .jsc > span {
    float: right;
    margin-right: 50px;
}

.zktBody .jsc > span i:nth-child(1) {
    margin-right: 50px;
}

/*图表*/
.zktBody .tubiao {
    background: url(../images/nbj.png);
    background-size: 100% 100%;
    opacity: 0.8;
    width:auto;
    position: relative;
}

.zktBody .tubiao .t_tubiao {
    height: 330px;
    border-bottom: 1px solid #002739;
    margin: 0 7px;
    overflow: hidden;
    box-sizing: border-box;
}

.tubiao .t_tubiao .l_yb {
    height: 330px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-right: 1px solid #002739;
    position: relative;
}

.t_tubiao .l_yb .ybp1 {
    width: 338px;
    height: 185px;
    background: url(../images/ybp.png);
    transform: translate(-50%);
    margin-left: 50%;
    position: relative;

}
.l_yb .zhz {
    width: 128px;
    height: 133px;
    position: absolute;
    top: 60px;
    left: 80px;
}
.t_tubiao .zhz {
    transform-origin: 76% 76%;
    transform: rotate(-50deg);
    animation: myzi 1s;
    animation-delay:1s;
    animation-timing-function:ease;
    animation-iteration-count:1;
    animation-fill-mode : forwards;
}

@keyframes myzi {
    0% {
        transform: rotate(-46deg)
    }
    100% {
        transform: rotate(3deg)
    }
}

.l_yb .zyly {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.l_yb .zyly i {
    font-size: 20px;
}


.l_yb .l_t_yb {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}

.l_yb .l_t_yb p {
    display: inline-block;
    margin-left: 30px;
    font-size: 12px;
    margin-top: 2px;
}

.l_yb .l_t_yb i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #1ccfcf;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
}

.tubiao .t_tubiao .z_yb {
    height: 330px;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    border-right: 1px solid #002739;
}

.tubiao .z_yb p {
    font-size: 16px;
}

.t_tubiao .z_yb .z_b_yb {

}

.t_tubiao .z_yb .z_t_yb {
    display: flex;
}

.t_tubiao .z_yb .l_ztyb {
    flex: 1;
    text-align: center;
    position: relative;
}

.t_tubiao .l_ztyb .bjl {
    width: 150px;
    height: 70px;
    background: url(../images/ybp3.png);
    transform: translate(-50%);
    margin-left: 50%;
    position: relative;
}

.t_tubiao .r_ztyb .gzl {
    width: 140px;
    height: 67px;
    background: url(../images/yb.png);
    transform: translate(-50%);
    margin-left: 50%;
    position: relative;
}

.t_tubiao .z_t_yb img {
    position: absolute;
}
.z_t_yb .l_ztyb img{
    left:34px;
    top:6px;
    transform-origin: 76% 76%;
    transform: rotate(-64deg);
    animation: myzi1 1s;
    animation-delay:1s;
    animation-timing-function:ease;
    animation-iteration-count:1;
    animation-fill-mode : forwards;
}
@keyframes myzi1 {
    0% {
        transform: rotate(-64deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
@keyframes myzi2 {
    0% {
        transform: rotate(-64deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
.z_t_yb .r_ztyb img{
    left:34px;
    top:2px;
    transform-origin: 76% 76%;
    transform: rotate(-64deg);
    animation: myzi2 1s;
    animation-delay:1s;
    animation-timing-function:ease;
    animation-iteration-count:1;
    animation-fill-mode : forwards;
}
.ybp1 .degrees {
    position: absolute;
    left: 160px;
    top: 145px;
    color: #ffffff;
    font-size: 22px;
}

.t_tubiao .z_yb .r_ztyb {
    flex: 1;
    text-align: center;
    position: relative;
}

.tubiao .t_tubiao .r_yb {
    height: 330px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    position: relative;
}

.tubiao .r_yb > div {

}

.t_tubiao .r_yb > div:nth-child(1) {
    position: absolute;
    top: -10px;
}

.t_tubiao .r_yb > div:nth-child(2) {
    margin-top: 185px;
    border: 1px solid #157aae;
    border-radius: 8px;
    overflow: hidden;
}

.t_tubiao .coral-grid .coral-grid-btable {
    margin-bottom: 0;
}

.t_tubiao .coral-grid .coral-grid-btable {
    border-collapse: separate;
}

.t_tubiao .r_yb th {
    background-color: #043951;
    color: #cae6fa;
    border: 0;
    height: 30px;
}

.t_tubiao .r_yb td {
    text-align: center;
    background-color: #157aae;
    color: #cae6fa;
    border-bottom: 1px solid #106692;
    border-right: 0;
    font-size: 14px;
    height: 32px;
}

.t_tubiao .r_yb span {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    font-size: 16px;
    top: 94px;
    left: 136px;
}

.t_tubiao .r_yb span i {
    display: block;
    z-index: 9;
    position: absolute;
    top: -40px;
    left: 30px;
    font-size: 30px;
}

.zktBody .b_tubiao {
    overflow: hidden;
}

.zktBody .b_tubiao > div {
    float: left;
}

.zktBody .b_tubiao .l_zhuzhuangtu {
    border-right: 1px solid #002739;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.b_tubiao .r_zhuzhuangtu {
    position: relative;
    margin-top: 10px;
}

.b_tubiao .r_zhuzhuangtu .qiehuan {
    position: absolute;
    top: 4px;
    left: 10px;
    z-index: 99;
    border: 1px solid #0f97db;
    border-radius: 6px;
    box-sizing: border-box;
}

.r_zhuzhuangtu .qiehuan span {
    display: inline-block;
    padding: 2px 15px;
    border-right: 1px solid #0f97db;
    cursor: pointer;
}

.r_zhuzhuangtu .qiehuan span:last-child {
    border-right: 0;
}
.dly span{
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 38px;
    position: relative;
}
.dly span input{
    width: 100%;
    height: 100%;
    padding-left:40px;
    box-sizing: border-box;
    font-size: 16px;
    border:1px solid #959998;
    border-radius: 6px;
}
.dlt h4 span{
   display: block;
    line-height: 100px;
    height: 100%;
    font-size: 26px;
    color:#f2f4f4;
}

