<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinya.coldchain.usermanager.mapper.CargoOwnerMapper">

    <resultMap id="CargoOwner" type="com.xinya.coldchain.usermanager.model.CargoOwner">
        <id column="pk_customer" property="pkCustomer" jdbcType="VARCHAR"></id>
        <result column="cust_code" property="custCode" jdbcType="VARCHAR"></result>
        <result column="cust_name" property="custName" jdbcType="VARCHAR"></result>
        <result column="check_status" property="checkStatus" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"></result>
        <result column="locked_flag" property="lockedFlag" jdbcType="VARCHAR"></result>
        <result column="dr" property="dr" jdbcType="VARCHAR"></result>
        <result column="ts" property="ts" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getListData" resultMap="CargoOwner" parameterType="string">
        <bind name="pattern" value="'%' + custCode + '%'"/>
        SELECT t2.pk_customer, t2.cust_code, t2.cust_name,t2.create_time, t2.check_status,t2.locked_flag
        FROM ts_re_cust_corp t1 LEFT JOIN ts_customer t2 ON t1.pk_customer = t2.pk_customer
        WHERE t1.dr = '0' and t2.dr=0
        <if test="custCode != null and  custCode !=''">
            and t2.cust_code like #{pattern}
        </if>
    </select>

    <update id="updateDrStatus" parameterType="string">
      update ts_customer set dr='1' where pk_customer=#{pkCustomer}
    </update>

    <update id="updatelockedFlag" parameterType="string">
      update ts_customer set locked_flag= #{status} where pk_customer=#{pkCustomer}
    </update>

    <select id="getCargoInfoByCode" parameterType="string" resultType="java.util.Map">
        SELECT t1.cust_code,t1.cust_name,t1.id_card_pos,t1.id_card_neg,t1.customer_picture, t2.corp_name,t1.create_time,
        t1.photo FROM ts_customer t1 LEFT JOIN nw_corp t2 ON t1.pk_corp = t2.pk_corp WHERE
	    t1.pk_customer = #{pkCustomer} AND t1.dr = 0
    </select>

    <select id="getCargoCorpInfoByCode" parameterType="string" resultType="java.util.Map">
    SELECT t1.relation_license,t2.customer_picture,t2.id_card_neg,t2.id_card_pos, t3.corp_name,t2.photo,
      t3.social_credit_code,t3.business_license, t2.cust_code,t3.address,t3.bank,t3.bank_account FROM ts_re_cust_corp t1
    LEFT JOIN ts_customer t2 ON t1.pk_customer = t2.pk_customer
    LEFT JOIN nw_corp t3 on t1.pk_corp = t3.pk_corp WHERE t1.dr = 0 AND t2.dr = 0 and t3.dr=0
    and t1.pk_customer=#{pkCustomer}
    </select>

    <update id="updateCustAndCorp" parameterType="java.util.Map">
        update ts_re_cust_corp set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus},check_man=#{modifyUser},check_time=#{modifyTime}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        where dr=0 and pk_customer=#{pkCustomer}
    </update>
    <update id="updateCust" parameterType="java.util.Map">
        update ts_customer set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        where dr=0 and pk_customer=#{pkCustomer}
    </update>

    <update id="updateCorp" parameterType="java.util.Map">
          update nw_corp set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus} where dr=0 and  pk_corp = (select t.pk_corp from ts_re_cust_corp t
         where t.pk_customer=#{pkCustomer} and t.dr=0)
    </update>


</mapper>