<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinya.coldchain.usermanager.mapper.DriverMapper">

    <resultMap id="driver" type="com.xinya.coldchain.usermanager.model.Driver">
        <id  column="pk_driver" property="pkDriver" jdbcType="VARCHAR"></id>
        <result column="row_num" property="rowNum" jdbcType="VARCHAR"></result>
        <result column="driver_code" property="driverCode" jdbcType="VARCHAR"></result>
        <result column="driver_name" property="driverName" jdbcType="VARCHAR"></result>
        <result column="check_status" property="checkStatus" jdbcType="VARCHAR"></result>
        <result column="driver_status" property="driverStatus" jdbcType="VARCHAR"></result>
        <result column="driver_picture" property="driverPicture" jdbcType="VARCHAR"></result>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"></result>
        <result column="driver_lic" property="driverLic" jdbcType="VARCHAR"></result>
        <result column="id_card_neg" property="idCardNeg" jdbcType="VARCHAR"></result>
        <result column="id_card_pos" property="idCardPos" jdbcType="VARCHAR"></result>
        <result column="photo" property="photo" jdbcType="VARCHAR"></result>
        <result column="dr" property="dr" jdbcType="VARCHAR"></result>
        <result column="ts" property="ts" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getListData" resultMap="driver" parameterType="java.util.Map">
        SELECT  ROW_NUMBER () OVER ( ORDER BY t1.modify_time DESC, t1.create_time DESC ) AS row_num,t1.pk_driver,
        t1.driver_code, t1.driver_name,t1.check_status,t1.driver_status,t1.driver_picture, t1.mobile,t1.driver_lic,
        t1.id_card_pos,t1.id_card_neg,t1.photo,  t1.ts,t1.dr,t1.create_time,t1.locked_flag
        FROM ts_re_driver_carr t  LEFT JOIN ts_driver t1 ON t.pk_driver = t1.pk_driver where t.dr=0 and t1.dr=0
        <if test="driverCode != null and  driverCode !=''">
            <bind name="pattern" value="'%' + driverCode + '%'"/>
            and t1.driver_code like #{pattern}
        </if>
        <if test="pkDriver != null and  pkDriver !=''">
            and t.pk_driver = #{pkDriver}
        </if>
    </select>

    <update id="updateDriver" parameterType="java.util.Map">
        update ts_driver set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        where dr=0 and pk_driver=#{pkDriver}
    </update>

    <update id="updateDriverAndCarr" parameterType="java.util.Map">
        update ts_re_driver_carr set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus},check_man=#{modifyUser},check_time=#{modifyTime}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        where dr=0 and pk_driver=#{pkDriver}
    </update>


</mapper>