<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinya.coldchain.usermanager.mapper.FleetMapper">
    <resultMap id="fleet" type="com.xinya.coldchain.usermanager.model.Fleet">
        <id column="pk_carrier" property="pkCarrier" jdbcType="VARCHAR"></id>
        <result column="row_num" property="rowNum" jdbcType="VARCHAR"></result>
        <result column="dr" property="dr" jdbcType="VARCHAR"></result>
        <result column="ts" property="ts" jdbcType="VARCHAR"></result>
        <result column="carr_code" property="carrCode" jdbcType="VARCHAR"></result>
        <result column="carr_name" property="carrName" jdbcType="VARCHAR"></result>
        <result column="carr_type" property="carrType" jdbcType="VARCHAR"></result>
        <result column="priority" property="priority" jdbcType="VARCHAR"></result>
        <result column="pk_corp" property="pkCorp" jdbcType="VARCHAR"></result>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"></result>
        <result column="pk_customer" property="pkCustomer" jdbcType="VARCHAR"></result>
        <result column="id_card_neg" property="idCardNeg" jdbcType="VARCHAR"></result>
        <result column="id_card_pos" property="idCardPos" jdbcType="VARCHAR"></result>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"></result>
        <result column="email" property="email" jdbcType="VARCHAR"></result>
        <result column="contact" property="contact" jdbcType="VARCHAR"></result>
        <result column="contact_post" property="contactPost" jdbcType="VARCHAR"></result>
        <result column="locked_flag" property="lockedFlag" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"></result>
        <result column="billing_rule" property="billingRule" jdbcType="VARCHAR"></result>
        <result column="carrier_picture" property="carrierPicture" jdbcType="VARCHAR"></result>
        <result column="check_status" property="checkStatus" jdbcType="VARCHAR"></result>
        <result column="driving_licence" property="drivingLicence" jdbcType="VARCHAR"></result>
        <result column="billing_rule" property="billingRule" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getListData" resultMap="fleet" parameterType="string">
        SELECT ROW_NUMBER () OVER ( ORDER BY t.modify_time DESC, t.create_time DESC ) AS row_num, t.pk_carrier, t.dr,t.ts,
        t.carr_code,t.carr_name,t.carr_type,t.priority,t.pk_corp,t.pk_customer,t.phone,t.mobile,t.email,t.contact,t.contact_post,
        t.address,t.locked_flag,t.create_time,t.billing_rule,t.check_status FROM   ts_carrier t
       where  t.dr=0
        <if test="carrCode != null and  carrCode !=''">
            <bind name="pattern" value="'%' + carrCode + '%'"/>
            and t.carr_code like #{pattern}
        </if>

    </select>

    <select id="getFleetPersonInfo" parameterType="string" resultType="java.util.Map">
        SELECT pk_carrier, dr,ts, carr_code, carr_name,carr_type,priority,pk_corp,pk_customer, phone,mobile,road_trans_license,
        email,contact,contact_post,address,locked_flag,create_time,billing_rule,carrier_picture,driver_license,
        id_card_pos,id_card_neg,check_status,driving_licence FROM ts_carrier where dr= 0
        <if test="pkCarrier !=null and pkCarrier!=''">
            and pk_carrier =#{pkCarrier}
        </if>
    </select>

    <select id="getFleetEntInfo" parameterType="string" resultType="java.util.Map">
        SELECT t2.pk_carrier, t1.corp_name, t2.carr_name,t2.trans_type, t1.bank, t1.bank_account, t1.business_license,
        t2.road_trans_license, t2.id_card_pos, t2.ts,t2.id FROM ts_re_carr_corp t
        LEFT JOIN ts_carrier t2 ON t.pk_carrier = t2.pk_carrier
        LEFT JOIN nw_corp t1 ON t.pk_corp = t1.pk_corp WHERE t.dr = 0 AND t1.dr = 0 AND t2.dr = 0
        <if test="pkCarrier !=null and pkCarrier!=''">
            and t.pk_carrier =#{pkCarrier}
        </if>
        ORDER BY t2.ts desc
    </select>

    <update id="updatelockedFlag" parameterType="string">
      update ts_carrier set locked_flag= #{status} where pk_carrier=#{pkCarrier}
    </update>

    <update id="updateCorp" parameterType="java.util.Map">
     update nw_corp set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus} where dr=0 and  pk_corp = (select t.pk_corp from ts_re_carr_corp t
         where t.pk_carrier=#{pkCarrier} and t.dr=0)
    </update>

    <update id="updateFleet" parameterType="java.util.Map">
        update ts_carrier set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        <if test="inviteCode != null and  inviteCode !=''">
            , invite_code = #{inviteCode}
        </if>
        where dr=0 and pk_carrier=#{pkCarrier}
    </update>

    <update id="updateCarrAndCorp" parameterType="java.util.Map">
        update ts_re_carr_corp set ts=#{ts},modify_user=#{modifyUser},modify_time=#{modifyTime},
        check_status=#{checkStatus},check_man=#{modifyUser},check_time=#{modifyTime}
        <if test="memo != null and  memo !=''">
            , memo = #{memo}
        </if>
        where dr=0 and pk_carrier=#{pkCarrier}

    </update>

    <select id="getUserInfoByCarrPk" parameterType="string" resultType="java.util.Map">
  select t2.pk_user from ts_carrier t1 LEFT JOIN nw_user t2 on t1.carr_code = t2.user_code
  where t1.dr=0 and t2.dr=0  and t1.pk_carrier=#{pkCarrier}
    </select>

    <select id="checkInviteCode" parameterType="string" resultType="java.lang.Integer">
        select count(0) from ts_carrier where invite_code = #{inviteCode}
    </select>


</mapper>