<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinya.coldchain.usermanager.mapper.NwRoleMapper">
    <resultMap id="NwRole" type="com.xinya.coldchain.usermanager.model.NwRole">
        <id column="pkRole" property="pkRole"></id>
        <id column="pkRole" property="pkRole"></id>
        <id column="pkRole" property="pkRole"></id>
        <id column="pkRole" property="pkRole"></id>
        <id column="pkRole" property="pkRole"></id>
    </resultMap>
    <select id="getNwRoleInfo" parameterType="string" resultMap="NwRole">
        select * from nw_corp t left join ts_customer t1 on t.pk_corp = t1.pk_corp where t1.pk_customer=#{pk}
        and t1.dr=0
    </select>




</mapper>