<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinya.coldchain.sys.mapper.TmsUserMapper">

    <resultMap id="TmsUser" type="com.xinya.coldchain.sys.model.TmsUser">
         <id column="pk_user" property="pkUser" jdbcType="VARCHAR"></id>
         <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
         <result column="user_code" property="userCode" jdbcType="VARCHAR"></result>
         <result column="user_type" property="userType" jdbcType="VARCHAR"></result>
         <result column="user_password" property="userPassword" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getUserInfoByUsername" resultMap="TmsUser" parameterType="String">
        select pk_user,user_name,user_code,user_type,user_password  from nw_user where dr=0 and  user_code=#{username}
    </select>

    <select id="getImgUrl" resultType="java.util.Map">
        select param_value paramValue from nw_parameter where param_name='resourcePath'
    </select>


</mapper>